Host art103
    Hostname     	artifacts103.us-west-1.netflix.com
    User         	ubuntu
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host art104
    Hostname     	artifacts104.us-west-1.netflix.com
    User         	ubuntu
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host art105
    Hostname     	artifacts105.us-west-1.test.netflix.net
    User         	artifactorytest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host art106
    Hostname     	artifacts106.us-west-1.test.netflix.net
    User         	artifactorytest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host art201
    Hostname     	artifacts201.us-west-1.test.netflix.net
    User         	artifactory3test
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host art301
    Hostname     	artifacts301.us-west-1.test.netflix.net
    User         	artifactory3test
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host awstools
    Hostname     	gbawstools.test.netflix.net
    User         	gbawstoolstest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host bldtst
    Hostname     	10.200.67.32
    User         	jenkinsmastertest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host bn01
    Hostname     	buildnode01.netflix.com
    User         	builds
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host bn02
    Hostname     	buildnode02.netflix.com
    User         	builds
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host builds101
    Hostname     	builds101.dc1.prod.netflix.com
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host ds
    Hostname     	10.200.67.183
    User         	depotsearchtest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host ds2
    Hostname     	10.200.71.128
    User         	depotsearchtest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host dse
    Hostname     	10.200.5.58
    User         	depotsearchtest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host dse2
    Hostname     	10.200.6.201
    User         	depotsearchtest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host huds
    Hostname     	builds.netflix.com
    User         	gbowles
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host opops
    Hostname     	optimalops.net
    User         	gbowles
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host p4
    Hostname     	perforce100.netflix.com
    User         	gbowles
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
    PermitLocalCommand  yes
    LocalCommand        . ~/.bash_profile
Host ppln
    Hostname     	pipeline.test.netflix.net
    User         	jenkinsmastertest
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host sencha
    Hostname     	10.200.71.219
    User         	ec2-user
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host td
    Hostname     	testdashboard100.netflix.com
    User         	gbowles
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
Host xfd
    Hostname     	10.2.237.194
    User         	pi
    TcpKeepAlive 	no
    ServerAliveInterval 15
    ServerAliveCountMax 3
